<%- include("../partials/header") %>
<body class="home">
    <div class="jumbotron ground home">
        <div class='container' style="text-align: center;">
            <% if (error && error.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <% if (success && success.length > 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %>
        </div>
        <div class = "row" >
            <div class="col-md-3 col-sm-6">
                <p> </p>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="textColur">Welcome <%= currentUser.firstname %> status <%= currentUser.username %></h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="/logout" class="btn btn-primary" style="background: #a48ed2;border-color: white;">Log out</a>
                <a href="/admin" class="btn btn-primary" style="background: #a48ed2;border-color: white;">Back</a>
            </div>
        </div>
        <hr>
        <% allMap.forEach(function(allMap){ %>
            <div class="container" style="width: 50%;">
                <h3 class="textColur" style="display: inline;"><%= allMap.level %> : <%= allMap.name %></h3>
                <a class="btn btn-warning" href="/admin/addNewQuesion/<%= allMap._id %>">Add quesion</a>
            </div>
        <% });%>
    </div>
<%- include("../partials/footer") %>