<%- include("../partials/header") %>
<body class="home">
    <div class="jumbotron ground home">
        <div class='container' style="text-align: center;">
            <% if (error && error.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <% if (success && success.length > 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %>
        </div>
        <div class = "row" >
            <div class="col-md-3 col-sm-6">
                <p> </p>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="textColur">Welcome <%= currentUser.firstname %> status <%= currentUser.username %></h3>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                  <a href="/TTE/Profile">Profile</a>
                  <a href="#">About</a>
                  <a href="/logout">Log out</a>
                </div>
              </div>
            </div>
            
        </div>
        <div class="container" style="width: 50%;">
            <a href="/admin/addCheckpoint" class="btn btn-primary btn-lg btn-block" role="button">Create new checkpoint</a>
            <a href="/admin/editCheckpoint" class="btn btn-primary btn-lg btn-block" role="button">Edit checkpoint</a>
            <a href="/admin/deleteCheckpoint" class="btn btn-primary btn-lg btn-block" role="button">Delete checkpoint</a>
        </div>
    </div>
<%- include("../partials/header") %>