<%- include("../partials/header") %>
<body class="home">
    <div class="row justify-content-between">
        <div class="col-md-5 col-sm-12" align="center">
            <div class="jumbotron ground home">
                <div class = "img-thumbnail">
                    <img src = <%= "../uploads/" + currentUser.imgProfile %> class="img-fluid img-thumbnail" style="height: auto; width: auto;">
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-0" style="margin-top: 10%" align="center">
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="jumbotron ground home">
                <div>
                    <h2 id="textHead">Profile</h2>
                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown-content">
                          <a href="/TTE">Home</a>
                          <a href="#">About</a>
                          <a href="/logout">Log out</a>
                        </div>
                      </div>
                </div>
                <form class="textColur" style="width: 100%;">
                    <div class="form-group">
                        <label class="textColur" for="userName">USERNAME</label>
                        <input type="text" class="form-control" name="username" readonly value="<%= currentUser.username %>">
                    </div>
                    <div class="form-group">
                        <label class="textColur" for="firstName">FIRSTNAME</label>
                        <input type="text" class="form-control" name="firstName" readonly value="<%= currentUser.firstname %>">
                    </div>
                    <div class="form-group">
                        <label class="textColur" for="lastName">LASTNAME</label>
                        <input type="text" class="form-control" name="lastName" readonly value="<%= currentUser.lastname %>">
                    </div>
                    <div align="right">
                        <a href="/TTE/profile/edit" class="btn btn-primary" style="background: #a48ed2;border-color: white;">EDIT</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
<%- include("../partials/footer") %>

