<%- include("../partials/header") %>
<body class="home">
    <div class="jumbotron ground home">
        <div class='container' style="text-align: center;">
            <% if (error && error.length > 0) { %>
              <div class="alert alert-danger" role="alert">
                <%= error %>
              </div>
            <% } %>
            <% if (success && success.length > 0) { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %>
        </div>
        <div class = "row" >
            <div class="col-md-3 col-sm-6">
                <p> </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="textColur"><%= currentUser.firstname %> status <%= currentUser.status %></h3>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="dropdown">
                  <button class="dropbtn">Dropdown</button>
                  <div class="dropdown-content">
                    <a href="/TTE/Profile">Profile</a>
                    <a href="#">About</a>
                    <a href="/logout">Log out</a>
                  </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 id="textHead"><%= info_map.name%></h1>
            <div id="show" class="jumbotron">
              <%- info_map.information%>
            </div>
        </div>
    </div>

<%- include("../partials/footer") %>